@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #222222;
  padding: 10px 40px 20px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

.items {
  margin-left: 199px;
  margin-bottom: 20px;
  margin-top: 10px;
}
hr {
  background-color: white;
  margin-bottom: 0px;
}
.nav1 {
  padding-bottom: 40px;
}
.message {
  margin-left: 40px;
  padding-top: 30px;
}